<h1 id="htn-evaluations">HTN Evaluations</h1>
<p>In the following, I describe how to run evaluations within the framework used during my Master project.</p>
<h2 id="defining-problem-instances-to-run">Defining problem instances to run</h2>
<p>Create a file <code>evaluation_instances.csv</code> in this directory. Each line contains exactly one instance, specified as follows:</p>
<pre><code>&lt;Domain&gt; &lt;Instance&gt; &lt;Approach&gt; &lt;Additional parameters&gt;</code></pre>
<ul>
<li><code>Domain</code>: The domain of the instance. In the directory <code>./problems</code>, a directory of this name must exists, containing the domain specification <code>domain.pddl</code> as well as all instances of this domain to test.</li>
<li><code>Instance</code>: The index of the instance. In the domain directory <code>./problems/&lt;Domain&gt;/</code>, a problem specification <code>p&lt;Instance&gt;.pddl</code> must exist.</li>
<li><code>Approach</code>: The planner / planning strategy to employ.</li>
<li><code>Additional parameters</code>: The parameters for the previously specified planning strategy, if necessary.</li>
</ul>
<p>For example, the file may look like this:</p>
<pre><code>Rover 01 GTOHP
Barman 10 T-REX -i {-P,-b8192}
Barman 10 T-REX -i {-P,-b8192,-o,-l-1}</code></pre>
<p>The first line employs the HTN planner GTOHP on the problem Rover01. The second line employs the HTN-SAT planner with the T-REX approach on the problem Barman10. (The parametrization specified on that line has been found to work particularly well, so you can generally just use this one if you want to test T-REX.) The third line also employs T-REX, but additionally performs an iterative plan optimization after finding an initial plan.</p>
<h2 id="preparing-the-evaluations">Preparing the evaluations</h2>
<p>First, to randomize the instances, execute <code>bash create_full_eval_instances.sh</code>.</p>
<p>This creates a file <code>full_eval_instances_randomized.csv</code> containing the previously specified evaluation instances in a random order. If multiple executions (repetitions) of each instance are desired, edit the file <code>num_repetitions</code> to contain (only) the amount of needed repetitions per instance, and re-run <code>bash create_full_eval_instances.sh</code>.</p>
<p>Edit the file <code>timeout_seconds</code> to (only) contain the amount of seconds after which a run should be cut off. Similarly, the number inside the file <code>memlimit_kb</code> specifies the maximum amount of kilobytes of RAM that may be allocated by the run after which it is cut off.</p>
<p>If desired (although I would not really recommend it), the amount of instances to be run <em>in parallel</em> can be modified in the variable <code>num_jobs</code> in the script <code>run_all.sh</code>.</p>
<h2 id="running-the-evaluations">Running the evaluations</h2>
<p>Execute <code>bash run_all.sh</code>.</p>
<p>With each additional run, this will spawn temporal directories <code>./proc_*</code> containing logs and symbolic links to the binaries and scripts in this directory. In addition, a file <code>./runlog</code> is created, and some information about the run instances is logged here.</p>
<p>As soon as the evaluation finishes, these directories and files will vanish and all produced log information is moved to a new directory <code>logs/Eval_&lt;Date and time&gt;/</code>.</p>
<h2 id="cancelling-and-recovering-evaluations">Cancelling and recovering evaluations</h2>
<p>When cancelling an evaluation, make sure that all involved processes are terminated, e.g. by using <code>htop</code>.</p>
<p>If an evaluation is prematurely cancelled or fails, the log information generated so far can be recovered by copying the file <code>runlog</code> as well as all existing directories <code>./proc_*/logs/*/</code> into a new log directory.</p>
<p>To resume a started evaluation, the line number of the first un-finished instance can be specified in the variable <code>start_instance</code> in the script <code>run_all.sh</code>. The evaluation process will then only do the evaluations from this line until the last line of instances.</p>
<h2 id="getting-results">Getting results</h2>
<p>As a first step towards analyzing and visualizing results, <code>bash analysis/report_times.sh logs/&lt;your log directory&gt;</code> can be executed to create a file <code>report_times.csv</code> in your log directory containing the run times for each instance. This file can then be further processed for visualizations or computations.</p>
<h2 id="questions-errors-and-issues">Questions, errors and issues</h2>
<p>Send me a mail: <code>mail@dominikschreiber.de</code></p>
